<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.mybatisboard.mapper.BoardMapper"> <!--인터페이스와의 연결-->


    <select id="boardCount" resultType="int"> /*boardcount는 인터페이스 boardMapper가 가진 메소드명과 같다*/
        SELECT count(boardId) AS cnt FROM tbl_board; /*tbl_board의 갯수를 가져와 int타입으로 반환*/
    </select>

    <select id="getList" resultType="com.example.mybatisboard.domain.Board"> /*tbl_board을 전부 셀렉트하면 자료형은 Board가 되므로 resultType도 Board*/
        SELECT * FROM tbl_board;
    </select>

    <select id="getBoard" parameterType="Long" resultType="com.example.mybatisboard.domain.Board">
        SELECT * FROM tbl_board where boardId=#{boardId};
    </select>

    <insert id="uploadBoard" parameterType="com.example.mybatisboard.domain.Board">
        INSERT INTO tbl_board (title, content, name)
        VALUES (#{title}, #{content}, #{name});
    </insert>

    <update id="updateBoard" parameterType="com.example.mybatisboard.domain.Board">
        UPDATE tbl_board
        SET title = #{title} , content = #{content}
        WHERE boardId = #{boardId};
    </update>

    <delete id="deleteBoard" parameterType="Long">
        DELETE
        FROM tbl_board
        WHERE boardId=#{boardId};
    </delete>

</mapper>